@model ImageServiceWeb.Models.FirstModel
@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
     
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OutPutDir, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.OutPutDir, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.SourceName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SourceName, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.LogName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LogName, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.ThumbnailSize, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ThumbnailSize, new { @class = "form-control" })
            </div>
      
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
