@model ImageServiceWeb.Models.FirstModel
@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="table table-striped-group">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.DisplayNameFor(m => m.OutPutDir123)
            <div class="col-md-10">
                @Html.DisplayFor(modelItem => modelItem.OutPutDir123, new { @class = "table table-striped" })
            </div>
            @Html.DisplayNameFor(m => m.SourceName)
            <div class="col-md-10">
                @Html.DisplayFor(m => m.SourceName, new { @class = "table table-striped" })
            </div>
            @Html.DisplayNameFor(m => m.LogName)
            <div class="col-md-10">
                @Html.DisplayFor(m => m.LogName, new { @class = "table table-striped" })
            </div>
            @Html.DisplayNameFor(m => m.ThumbnailSize)
            <div class="col-md-10">
                @Html.DisplayFor(m => m.ThumbnailSize, new { @class = "table table-striped" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
