@model ImageServiceWeb.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<head>
    <link type="text/css" rel="stylesheet" href="~/Views/First/PhotosStyle.css" />
</head>

<h2>Photos</h2>
@foreach (var item in Model.images)
{
    <div>
        <div class="col-sm-5 col-md-3" >
            <div class="thumbnail">
               
                <img src="@Url.Content(item.path)" class="img-circle" alt="Cinque Terre" >
                    <div class="caption">
                        <shula>Thumbnail label</shula>
                        <div class="table table-striped-group">
                            <hr />
                            <p>
                                @Html.LabelFor(m => item.Name, new { @class = "col-md-2 control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DisplayFor(modelItem => item.Name, new { @class = "col-md-2 control-label" })
                            </p>
                            <p>
                                @Html.LabelFor(m => item.Year, new { @class = "col-md-2 control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DisplayFor(modelItem => item.Year, new { @class = "col-md-2 control-label" })
                            </p>
                            <p>
                                @Html.LabelFor(m => item.Month, new { @class = "col-md-2 control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DisplayFor(modelItem => item.Month, new { @class = "col-md-2 control-label" })
                            </p>
                        </div>
                            <p>
                                <a href="#" id="btnView" class="btn btn-primary" role="button">View</a> 
                                <a href="#" class="btn btn-default" id="btnDelete" role="button">Delete</a>
                            </p>
                       
                </div>
              
            </div>
            <br />
        </div>
    </div>
    }
<script>
    $("#btnView").click(function () {



    });

    $("#btnDelete").click(function () {



    });



</script>


