@model ImageServiceWeb.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<head>
    <link type="text/css" rel="stylesheet" href="~/Views/First/PhotosStyle.css" />
</head>

<h2>Photos</h2>
@foreach (var item in Model.images)
{
    <div>
        <div class="col-sm-5 col-md-3" >
            <div class="thumbnail">
               
                <img src="@Url.Content(item.ThumbPath)" class="img-circle" alt="Cinque Terre" width="200" height="200">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <div class="table table-striped-group">
                            <hr />
                            <p>
                                @Html.LabelFor(m => item.Name, new { @class = "col-md-2 control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DisplayFor(modelItem => item.Name, new { @class = "col-md-2 control-label" })
                            </p>
                            <p>
                                @Html.LabelFor(m => item.Year, new { @class = "col-md-2 control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DisplayFor(modelItem => item.Year, new { @class = "col-md-2 control-label" })
                            </p>
                            <p>
                                @Html.LabelFor(m => item.Month, new { @class = "col-md-2 control-label" })
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.DisplayFor(modelItem => item.Month, new { @class = "col-md-2 control-label" })
                            </p>
                        </div>
                            <p>
                                
                                @Html.ActionLink("View", "ViewPhoto", new { item.ID }, new {@class = "btn btn-default"}) 
                                @Html.ActionLink("Delete", "DeletePhoto", new { item.ID }, new { @class = "btn btn-default" })


                            </p>
                       
                </div>
              
            </div>
            <br />
        </div>
    </div>
    }
<script>
    $("#btnView").click(function () {
        alert("view");
    });
 

    $("#btnDelete").click(function () {
        alert("delete");


    });
</script>


